<modal-dialog show='modalShown' id="modal2" width='300px' height='20%'>
    <form ng-submit="loginPin()">
        <p><b>Enter pin</b></p>
        <p><input type="text" class="form-control" ng-model="user.pin"></p>
        <p><input type="submit" class="form-control" value="Enter pin"></p>
    </form>
</modal-dialog>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
</nav>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 align="center">Billboard</h1>
                <p style="padding:10px;"></p>
                <p align="center">Best news in the world with best admins in the world!</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <h1 align="center">Please sign in</h1><br/>
        <form method="post" class="col-md-12" ng-submit="login()">
            <hr/>
            <div class="form-group">
                <input type="text" class="form-control input-lg" title="User login" ng-model="user.login" placeholder="Login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" title="User password" ng-model="user.password" placeholder="Password">
            </div>
            <input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-block"/>
            <div class="form-group">
                <p style="color: red;">{{authErrors}}</p>
            </div>
        </form>
        <hr/>
    </div>
</div>
<loading ng-show="loading"></loading>