<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 align="center">Billboard</h1>
                <p style="padding:10px;"></p>
                <p align="center">Best news in the world with best admins in the world!</p>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <p style="padding:40px;"></p>
                <p>Welcome, {{userLogin}}!</p>
                <button class="btn btn-danger" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row row-content_enc">
        <div class="form-group col-sm-6 col-sm-offset-4" style="white-space:nowrap">
            <label for="updateNotes" class="btn btn-info" on-read-file="updateNotes($fileContent)">Update notes</label>
            <input id="updateNotes" style="visibility:hidden;" type="file" on-read-file="updateNotes($fileContent)">
            <label for="showNotes" class="btn btn-info" on-read-file="showNotes($fileContent)">Show notes</label>
            <input id="showNotes" style="visibility:hidden;" type="file" on-read-file="showNotes($fileContent)">
        </div>
        <div class="col-sm-8 col-sm-offset-2" ng-repeat="note in notes">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <button class="btn btn-info" ng-if="note.users.indexOf(userLogin) != -1" ng-click="openEditDialog(note)">Edit</button>
                <button class="btn btn-info" ng-if="note.users.indexOf(userLogin) != -1" ng-click="openShareDialog(note)">Share</button>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>{{note.title}}</h2>
                <p>{{note.content_enc}}</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                <h3>Authors:</h3>
                <span ng-repeat="user in note.users">{{user}}; </span>
            </div>
        </div>
    </div>
</div>
<modal-dialog show='modalShown1' id="modal1" width='400px' height='60%'>
    <form ng-submit="changeNote()">
        <p style="padding: 5px;"></p>
        <label for="title">Title:</label>
        <p><input type="text"  class="form-control"  id="title" ng-model="noteToEdit.title"></p>
        <label for="content_enc">Content:</label>
        <p><textarea rows="10" cols="45" name="text" id="content_enc" class="form-control" ng-model="noteToEdit.content_enc">{{note.content_enc}}</textarea></p>
        <p><input type="submit" class="form-control" value="Сохранить изменения"></p>
    </form>
</modal-dialog>
<modal-dialog show='modalShown2' id="modal2" width='300px' height='20%'>
    <form ng-submit="shareNote()">
        <p><b>Enter nickname</b></p>
        <p><input type="text" class="form-control" ng-model="noteToShare.nick"></p>
        <p><input type="submit" class="form-control" value="Добавить пользователя"></p>
        <div class="form-group">
            {{shareErrors}}
        </div>
    </form>
</modal-dialog>
<loading ng-show="loading"></loading>
